body
{
  background-color: black;
}
      
.text
{
  font-weight: bold;
  display: table;
  height: 50px;
  width: 210px;
  margin-left:4px;
  margin-rigt:4px;
  background-color: #ffba00;
  border-radius: 5px;
  display: table-cell; 
  vertical-align: middle;
  text-align: center;
  border: 1px solid white;
}